.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 3vmin);
    color: white;
}

input {
    padding: 12px;
    font-size: 28px;
    margin-right: 10px;
}

button {
    padding: 12px 24px;
    font-size: 28px;
    cursor: pointer;
}
